@import "tailwindcss";

button.plyr__control.plyr__control--overlaid {
    width: 120px !important;
    height: 120px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

button.plyr__control.plyr__control--overlaid svg {
    width: 40px !important;
    height: 40px !important;
}